#buttonMealDayPlan {
    color: black;
    width: 500px;
    margin-bottom: 2px;
    font-size: 1.6em;
    border-radius: 10px;
    padding: 4px 15px;
    text-transform: capitalize;
}

#buttonMealDayPlan span {
    margin-bottom: 5px;
    cursor: pointer;
}

#buttonMealDayPlan button {
    float: right;
}

.custom-modal-background {
    background-color: #f2f2f2;

}

#search-bar::placeholder {
    color: white;
    font-size: 0.8em;
}

.transparent-modal .modal-content {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.transparent-modal .modal-dialog {
    background-color: transparent;
}

.transparent-modal .modal-header {
    background-color: transparent;
    border-bottom: none;
}

.transparent-modal .modal-body {
    background-color: rgba(255, 255, 255, 0);
    /* Color de fondo con opacidad */
}