.MealDayDrow {
    background-color: black;
    width: 300px;

}


.MealDayDrowBody {
    background-color: blue;
    width: 100%;
}


.totalCalories {

    color: black;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 3em;
    text-decoration: underline;
    margin-bottom: 5%;
}