.carRandomFood {
    width: 27rem;
    min-height: 29rem;
    background-color: rgb(233, 228, 228);
    color: black;
    border-radius: 10px;
}


.carRandomFoodButton {
    width: 100%;
    display: grid;
    margin-top: 13%;
    padding: 10px 0;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    background: red;

}



/* 
.Modal {

    height: 100vh;
    width: 900px;
    max-width: 90vw;
}

.modal-dialog {
    margin: auto;
}

.Modal img {
    max-width: 100%;
    height: auto;
} */