.membersCard img {
    width: 60px;
    height: 130px;
    object-fit: cover;
    clip-path: circle(30%);

}

.membersCard {
    margin-bottom: -3%;
    margin-left: 7%;
    cursor: pointer;
}

.membersCard:hover {
    transform: scale(1.1);
}



.GymFam {
    height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}