 .cardScroll:hover {
     border-top: 4px solid red;

 }

 .cardScroll {
     padding-top: 5%;

 }


 .cardScroll p {
     margin-top: 7%;
     text-align: center;
     color: black;
     font-weight: bold;
     font-family: sans-serif;
     font-size: 2.2em;
     text-decoration: none;
 }

 .scrollImg {
     width: 100px;
     margin: 0 auto;
 }

 .scrollNavigation {
     padding-top: 2%;
     padding-right: 5%;
     padding-left: 5%;
 }

 .scrollNavigation .right {
     float: right;
     width: 50px;
 }

 .scrollNavigation .left {
     float: right;
     width: 50px;
     margin-right: 2%;
 }