.search-container {
    position: relative;
    top: -20%;
    left: 50%;
    width: 500px;
    display: block;
    margin: 0 auto;
    padding: 10px;
}

input#search-bar {
    margin: 0 auto;
    color: black;
    width: 120%;
    height: 45px;
    padding: 30px 20px;
    font-size: 2rem;
    border: 2px solid #D0CFCE;
    outline: none;

    &:focus {
        border: 3px solid black;

        color: black;
        font-size: 2rem;

        &::-webkit-input-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }

        &::-moz-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }

        &:-ms-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }
    }
}

.search-icon {
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -70px;
    right: -20%;
}

/* .searchFood {
    border: 2px solid red;
} */

.searchFood img {
    width: 130px;
    height: 130px;
    object-fit: contain;
    margin-bottom: 15px;
}

.data {
    height: 200px;
    background-color: red;
}

.foodResult {
    background-color: #f8f5f1;
    color: black;
    width: 300px;
    height: 200px;
    margin: 35px 40px;
    border: none;
    transition: 500ms;
}

.foodResult:hover {
    background-color: #efedea;
    color: black;
    transform: scale(1.1);
}