.aliCard {
    width: 1400px;
    background-color: white;
    ;
    height: 550px;
    margin: 80px 80px;
    margin-bottom: 100px;
    color: #050801;
    border: none;
    border: 2px solid red;
    border-radius: 22px;
    padding: 30px;
}

.aliCard h2 {
    text-align: left;
    color: #050801;
    margin-top: 25px;
    margin-bottom: 60px;

}

.inv {
    padding-left: 0;
    margin-left: 350px;
    margin-bottom: 100px;

}



.inv h2 {
    margin-left: 60px;
}


.aliCard p {
    font-size: 1.8em;
    margin-left: 50px;
    margin-top: -18px;
    margin-bottom: 10px;
}

.aliCard button {
    margin-left: 10%;
    margin-top: 10px;
    width: 250px;
    height: 70px;
    background-color: #e6c525;
    color: #050801;
    font-weight: bold;
}

.aliCard img {
    height: 300px;
    margin-top: 10px;
}