.aliCard {
    width: 100%;
    background-color: rgb(247, 244, 244);
    height: 1200px;
    margin-bottom: 100px;
    color: #050801;
    border: none;
    border-radius: 22px;
    padding: 0px 50px;
    padding-top: 13%;
}

.aliCard h2 {
    text-align: left;
    color: #050801;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 55px;
    margin-left: 18%;
    font-size: 3em;
}


.inv {
    padding: 0 auto;
    padding-right: 10%;
}

.inv img {}

.aliCard p {
    font-size: 1.6em;
    margin-left: 90px;
    margin-top: -18px;
    text-align: justify;
    margin-bottom: 10px;
    font-family: sans-serif;

}

.inv p {
    margin-right: 90px;
    margin-top: -18px;
}

.aliCard button {
    border: none;
    margin-left: 16%;
    margin-top: 80px;
    width: 550px;
    height: 90px;
    background-color: #e74c3c;
    color: white;
    font-weight: bold;
    font-size: 2em;
}

.aliCard button:hover {
    background-color: #e74c3c;
}

.aliCard img {
    width: 1100px;
    height: 700px;
    margin-top: 10px;
    object-fit: cover;
}